.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

/*body*/
.container{

}

.main{
  padding-top: 20px;
  background-color:
}

.jobs{

}

.maps{
  background-color: red;
  height: 65vh;
  width: 100vw;
}

input{
  height: 30px;
  width: 250px;
  padding: 2px;
  margin-right: 10px;
  font-size: 15px;
  border-color: blue;
}
button{
  height: 40px;
  width: 70px;
  border-radius: 5px;
  font-size: 15px;
  background-color: #D5BF86;

}
